{% extends 'base.html.twig' %}

{% block title %} Manage Pages {% endblock %}

{% block content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">PortalPage Management</h3>
</div>

<div class="row">
    <div class="col-lg-9 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Portals List</h6>
            </div>
            <p class="p-3">To create a new page, please contact your Administrator. The Administrator would create the data structures and database migrations as necessary.</p>
        </div>
    </div>
</div>

{% endblock %}
