{% extends 'base.html.twig' %}

{% block title %} {{ "Imprint"|trans }} {% endblock %}

{% block sidenav %}
{% endblock %}

{% block content %}

<div class="container-fluid pb-4">
    <h3 class="text-dark mb-4">{{ "Imprint"|trans }}</h3>

    {{ portal.imprint|raw }}
</div>
{% endblock %}
